<article class="education">
    <h3 class="education__title">Образование</h3>
    <section *ngFor="let institution of institutions" class="institution">
        <div class="institution__title">{{ institution.institution }}</div>
        <div class="institution__faculty">{{ institution.faculty }}</div>
        <div class="institution__dates">
            <span class="institution__date">{{ institution.startDate | date }}</span>
            <span *ngIf="institution.isCurrentlyStudying; else finishedEducation"> - по настоящее время.</span>
            <ng-template #finishedEducation>
                <span> - </span>
                <span class="institution__date">{{ institution.endDate | date }}</span>
            </ng-template>
        </div>
        <div class="institution__progress">{{ institution.progress }}</div>
    </section>
</article>
