.work-places {
    &__title {
        margin-top: 0;
    }
}

.work-place {
    &__content-wrapper {
        display: flex;
        flex-flow: row nowrap;
    }

    &__logo {
        margin-right: 10px;
    }

    &__logo-img {
        width: 40px;
    }

    &__text-bold {
        font-weight: bold;
    }

    &__text-normal {
        font-weight: normal;
    }

    &__hr {
        border-top: 1px dashed gray;
    }

    &:last-child {
        .work-place__hr {
            display: none;
        }
    }
}